{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/adminOverview?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"\",\r\n  \"type\": \"Microsoft.Network.Admin/adminOverview\",\r\n  \"location\": \"\",\r\n  \"id\": \"/subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/adminOverview/\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkHealth\": {\r\n      \"totalResourceCount\": 1,\r\n      \"healthyResourceCount\": 0,\r\n      \"errorResourceCount\": 0,\r\n      \"warningResourceCount\": 0,\r\n      \"healthUnknownCount\": 1\r\n    },\r\n    \"loadBalancerMuxHealth\": {\r\n      \"totalResourceCount\": 1,\r\n      \"healthyResourceCount\": 1,\r\n      \"errorResourceCount\": 0,\r\n      \"warningResourceCount\": 0,\r\n      \"healthUnknownCount\": 0\r\n    },\r\n    \"virtualGatewayHealth\": {\r\n      \"totalResourceCount\": 1,\r\n      \"healthyResourceCount\": 1,\r\n      \"errorResourceCount\": 0,\r\n      \"warningResourceCount\": 0,\r\n      \"healthUnknownCount\": 0\r\n    },\r\n    \"publicIpAddressUsage\": {\r\n      \"totalResourceCount\": 255,\r\n      \"inUseResourceCount\": 32\r\n    },\r\n    \"backendIpUsage\": {\r\n      \"totalResourceCount\": 411,\r\n      \"inUseResourceCount\": 11\r\n    },\r\n    \"macAddressUsage\": {\r\n      \"totalResourceCount\": 3998720,\r\n      \"inUseResourceCount\": 3\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvm6mGWDATwkt7GaL9gj/YdWecIQyACFSZI19wDOTXQuH4YUyMgbiVlYl29Zoz77dtIJfATjgZyYg2mguMWOeZjFYPAu4fUL9AgSTL4P2/WpAz4UMchWjO/YCXSOk43Qt8yR+QRCimqYPT8qnC9tnU"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14857"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "fc8456aa-4843-4079-a152-f3497c63aa73"
  }
}