{
  "Entries": [
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond\",\r\n      \"name\": \"redmond\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"currentVersion\": \"1.0.180302.1\",\r\n        \"currentOemVersion\": \"1.0.1709.3\",\r\n        \"lastUpdated\": \"2018-03-12T18:06:03.8271987Z\",\r\n        \"state\": \"UpdateFailed\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv3j/Ai6AETc4EClQ3UHwGhsapwl1ikASAGw/BVFgjzhXnCzpTgo2m7S2gTVoySHpvVGJEPPCXCoTlQ4ONwa3h00M3h5hNb8KV3UimHSAz5OoaHp4oVfXO+npxx+i+Mym5MRlU7uJcWUY3A6Xmxyz8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14877"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1\",\r\n      \"name\": \"Microsoft1.0.180302.1\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations/updates\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"dateAvailable\": \"0001-01-01T00:00:00\",\r\n        \"installedDate\": \"2018-03-03T08:09:12.882Z\",\r\n        \"description\": \"MAS Update 1.0.180302.1\",\r\n        \"state\": \"Installed\",\r\n        \"kbLink\": \"https://aka.ms/azurestackupdate\",\r\n        \"minVersionRequired\": \"1.0.180103.2\",\r\n        \"packagePath\": \"\\\\\\\\SU1FileServer\\\\SU1_Infrastructure_2\\\\Updates\\\\Packages\\\\Microsoft1.0.180302.1\",\r\n        \"packageSizeInMb\": 2144,\r\n        \"updateName\": \"MAS - 1.0.180302.1\",\r\n        \"version\": \"1.0.180302.1\",\r\n        \"updateOemFile\": \"\",\r\n        \"publisher\": \"Microsoft\",\r\n        \"packageType\": \"Microsoft\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180305.1\",\r\n      \"name\": \"Microsoft1.0.180305.1\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations/updates\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"dateAvailable\": \"0001-01-01T00:00:00\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1/updateRuns?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1/updateRuns/407d9b8f-debf-4058-b374-a94a1bb4de30\",\r\n      \"name\": \"407d9b8f-debf-4058-b374-a94a1bb4de30\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations/updates/updateRuns\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"progress\": {\r\n          \"name\": \"Unnamed step\",\r\n          \"description\": \"Update Azure Stack.\",\r\n          \"errorMessage\": \"\",\r\n          \"status\": \"Success\",\r\n          \"startTimeUtc\": \"2018-03-02T09:25:37.4173123-08:00\",\r\n          \"endTimeUtc\": \"2018-03-03T00:09:04.9913191-08:00\",\r\n          \"steps\": [\r\n            {\r\n              \"name\": \"Pre-engine Update\",\r\n              \"description\": \"Perform pre-engine update.\",\r\n              \"errorMessage\": \"\",\r\n              \"status\": \"Success\",\r\n              \"startTimeUtc\": \"2018-03-02T09:25:37.4798089-08:00\",\r\n              \"endTimeUtc\": \"2018-03-02T10:28:55.8289013-08:00\",\r\n              \"steps\": [\r\n                {\r\n                  \"name\": \"PreUpdate Cloud\",\r\n                  \"descripti[...]
[...]
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180305.1/updateRuns/439561c9-e5ea-4c70-a239-43c93641eb9d/rerun?api-version=2016-05-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://adminmanagement.redmond.ext-u15a2404.masd.stbtest.microsoft.com/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180305.1/updateRuns/e1d7b1a6-d999-424f-99e0-f4c7345a91cb?api-version=2016-05-01"
        ],
        "Retry-After": [
          "60"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv3husNVAIWvw4IgNtlpAjq/W2rc0rMQsHkrHAvd1Gn3rgwsmEvlO+Cq714X56bqeBXd8i3c0AinVa7kIaDEjy4M9TFZkHSDhwgPfbHzkTKhHNrUvo+IBIvPxknwlsc6AB8ZOI19hrVCmDJnpy/md3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180305.1/updateRuns/e1d7b1a6-d999-424f-99e0-f4c7345a91cb?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft[...]
[...]
