{
  "Entries": [
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond\",\r\n      \"name\": \"redmond\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"currentVersion\": \"1.0.180302.1\",\r\n        \"currentOemVersion\": \"1.0.1709.3\",\r\n        \"lastUpdated\": \"2018-03-12T18:06:03.8271987Z\",\r\n        \"state\": \"UpdateFailed\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvUiToY6QkOmRuHBAthDiNyJ0dJ1rcStWqlbXRiuA7RFo50aziOxE3h6z5+DxxUEe0oGBjA60HgUaMYwiYgO0nwEu4vYpE6wSAdC7gnFbuMcRy1ceH0CmYX/8OW+mtk5F8Ov4WK/VBe5ICMQzetlrK"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14681"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1\",\r\n      \"name\": \"Microsoft1.0.180302.1\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations/updates\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"dateAvailable\": \"0001-01-01T00:00:00\",\r\n        \"installedDate\": \"2018-03-03T08:09:12.882Z\",\r\n        \"description\": \"MAS Update 1.0.180302.1\",\r\n        \"state\": \"Installed\",\r\n        \"kbLink\": \"https://aka.ms/azurestackupdate\",\r\n        \"minVersionRequired\": \"1.0.180103.2\",\r\n        \"packagePath\": \"\\\\\\\\SU1FileServer\\\\SU1_Infrastructure_2\\\\Updates\\\\Packages\\\\Microsoft1.0.180302.1\",\r\n        \"packageSizeInMb\": 2144,\r\n        \"updateName\": \"MAS - 1.0.180302.1\",\r\n        \"version\": \"1.0.180302.1\",\r\n        \"updateOemFile\": \"\",\r\n        \"publisher\": \"Microsoft\",\r\n        \"packageType\": \"Microsoft\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180305.1\",\r\n      \"name\": \"Microsoft1.0.180305.1\",\r\n      \"type\": \"Microsoft.Update.Admin/updateLocations/updates\",\r\n      \"location\": \"redmond\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"dateAvailable\": \"0001-01-01T00:00:00\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180313.2/Apply?api-version=2016-05-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://adminmanagement.redmond.ext-u15a2404.masd.stbtest.microsoft.com/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180313.2/updateRuns/47f8fbe9-ed00-47df-a861-55666572a597?api-version=2016-05-01"
        ],
        "Retry-After": [
          "60"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvOD0cdx8WtpcdqSdFTvgFc33By34paxXCyn134OlLXGHs+0aEbnCYcj89zvAO8q8qypF1MGy6srfCjtaVDuKAunTnT3X4JS4Gi2eoqMFD+0nSegNc3KvUIRD5lEOMgcwkF5i2lDMPJ2Z1iEw3S7Ga"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180313.2/updateRuns/47f8fbe9-ed00-47df-a861-55666572a597?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180313.2/updateRuns/47f8fbe9-ed00-47df-a861-55666572a597\",\r\n  \"name\": \"47f8fbe9-ed00-47df-a861-55666572a597\",\r\n  \"type\": \"Microsoft.Update.Admin/updateLocations/updates/updateRuns\",\r\n  \"location\": \"redmond\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"progress\": {\r\n      \"name\": \"Downloading\"\r\n    },\r\n    \"duration\": \"PT0S\",\r\n    \"state\": \"InProgress\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Location": [
          "https://adminmanagement.redmond.ext-u15a2404.masd.stbtest.microsoft.com/subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourcegroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180313.2/updateRuns/47f8fbe9-ed00-47df-a861-55666572a597?api-version=2016-05-01"
        ],
        "Retry-After": [
          "60"
        ],
        "WWW-Authenticate": [
          "oYG2MIGzoAMKAQChCwYJKoZIgvcSAQICooGeBIGbYIGYBgkqhkiG9xIBAgICAG+BiDCBhaADAgEFoQMCAQ+ieTB3oAMCARKicARu6Rey8TCfK/oJYTVdEDZmDCUAipC3nFAsySovnPmSfp7PLEOvYuMUMpS9Xj5OFjP84K0b08Nil8fOFnuS7los/7ZO+uvgierxVnsNtP/RiiD+EOMAOyhDFOHl5ESZ1lPOkcP6fHylGwJnRmSTjD8="
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14668"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "23d66fd1-4743-42ff-b391-e29dc51d799e"
  }
}