{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourcegroups/System.local/providers/Microsoft.Backup.Admin/backupLocations/local/createBackup?api-version=2016-05-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://adminmanagement.local.azurestack.external/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/9dd75881-1f27-4ab0-8286-499ed1adb6af?api-version=2016-05-01"
        ],
        "Retry-After": [
          "60"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv1Upsg/hAYuPdH8RfegTdkaqxPuMmpmHGSIJt30aDbhV0KPYZUAMN2mJbIZjXQadeiaTnl+AknxpMEIgnhI7zEd3R5wYUlc9uDo2Ve4NaT0kT0ltXbl7Q97X9tPb9Kx3W04rMWXpzULzbvmrEdMlG"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1175"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/9dd75881-1f27-4ab0-8286-499ed1adb6af?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://adminmanagement.local.azurestack.external/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/9dd75881-1f27-4ab0-8286-499ed1adb6af?api-version=2016-05-01"
        ],
        "Retry-After": [
          "60"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvljDN+Wck6FqYVUot2VnFrChObszwV6WoRhqZhdO1eadPFXMg2Ms7MNlA59SukjJcAd+6TfRwWeD2yT36Exrunoclx41FmEH3gga7oQBTu4g7MJQnTNgYE2JTjLLaugrAspoObST1Oju5knmWDUm9"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14771"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/operationResults/9dd75881-1f27-4ab0-8286-499ed1adb6af?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"Id\": \"/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/system.local/providers/Microsoft.Backup.Admin/backupLocations/local/backups/9dd75881-1f27-4ab0-8286-499ed1adb6af\",\r\n  \"Name\": \"9dd75881-1f27-4ab0-8286-499ed1adb6af\",\r\n  \"Type\": \"Microsoft.Backup.Admin/backupLocations/backups\",\r\n  \"Location\": \"local\",\r\n  \"Tags\": {},\r\n  \"Properties\": {\r\n    \"BackupInfo\": {\r\n      \"BackupId\": \"9dd75881-1f27-4ab0-8286-499ed1adb6af\",\r\n      \"RoleStatus\": [\r\n        {\r\n          \"RoleName\": \"NRP\",\r\n          \"Status\": 6\r\n        },\r\n        {\r\n          \"RoleName\": \"SRP\",\r\n          \"Status\": 6\r\n        },\r\n        {\r\n          \"RoleName\": \"CRP\",\r\n          \"Status\": 6\r\n        },\r\n        {\r\n          \"RoleName\": \"KeyVaultInternalControlPlane\",\r\n          \"Status\": 6\r\n        },\r\n        {\r\n          \"RoleName\": \"KeyVaultInternalDataPlane\",\r\n          \"Status\": 6\r\n        },\r\n        {\r\n          \"RoleName\": \"KeyVaultControlPlane\",\r\n          \"Status\": 6\r\n        },\r\n        {\r\n          \"RoleName\": \"KeyVaultDataPlane\",\r\n          \"Status\": 6\r\n        },\r\n        {\r\n          \"RoleName\": \"KeyVaultNamingService\",\r\n          \"Status\": 6\r\n        },\r\n        {\r\n          \"RoleName\": \"WAS\",\r\n          \"Status\": 6\r\n        },\r\n        {\r\n          \"RoleName\": \"ECE\",\r\n          \"Status\": 6\r\n        },\r\n        {\r\n          \"RoleName\": \"CA\",\r\n          \"Status\": 6\r\n        },\r\n        {\r\n          \"RoleName\": \"ACS\",\r\n          \"Status\": 6\r\n        }\r\n      ],\r\n      \"Status\": 6,\r\n      \"CreatedDateTime\": \"2018-02-08T23:56:09.3417291Z\",\r\n      \"TimeTakenToCreate\": \"PT5M45.0963676S\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvvke7iQS+QdEpcS8ZQ+KPjXjzm0MrDKDL6fa6M9LcaaitoGDCvQynb1PCRB5+XJ7nMKjFfD8gj7eIAMH6kvqiuHROxa+OYiuR8q4SVYoxbrm1GxdafCGpwARGMc1fEYBLmWNR6/DhyVNc5N4YqZY2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14764"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "8158498d-27b1-4ccf-9aa1-de0f925731e6"
  }
}