{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/7b95fc7f-7118-4788-a3a9-a396012bd945\",\r\n      \"name\": \"7b95fc7f-7118-4788-a3a9-a396012bd945\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths/alerts\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"closedTimestamp\": \"2018-01-17T03:56:43.7002375Z\",\r\n        \"createdTimestamp\": \"2018-01-17T03:45:43.999071Z\",\r\n        \"description\": [\r\n          {\r\n            \"text\": \"The infrastructure role Health controller is experiencing issues.\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"faultId\": \"ServiceFabric:/HealthMonitoring/fabric:/AzurestackHealth\",\r\n        \"alertId\": \"7b95fc7f-7118-4788-a3a9-a396012bd945\",\r\n        \"faultTypeId\": \"ServiceFabricApplicationUnhealthy\",\r\n        \"lastUpdatedTimestamp\": \"2018-01-17T03:56:43.7002375Z\",\r\n        \"alertProperties\": {\r\n          \"healthState\": \"Warning\",\r\n          \"name\": \"Health controller\",\r\n          \"fabricName\": \"fabric:/AzurestackHealth\",\r\n          \"description\": null,\r\n          \"serviceType\": \"HealthMonitoring\"\r\n        },\r\n        \"remediation\": [\r\n          {\r\n            \"text\": \"Please contact Support. Before you do, start the log file collection process using the guidance from \",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"linkType\": \"Uri\",\r\n            \"uri\": \"https://aka.ms/azurestacklogfiles\",\r\n            \"type\": \"LinkBegin\"\r\n          },\r\n          {\r\n            \"text\": \"https://aka.ms/azurestacklogfiles\",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"type\": \"LinkEnd\"\r\n          },\r\n          {\r\n            \"text\": \".\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"resourceRegistrationId\": \"48baf237-8722-4747-92ae-42c90d68aa26\",\r\n        \"resourceProviderRegistrationId\": \"e56bc7b8-c8b5-4e25-b00c-4f951effb22c\",\r\n        \"severity\": \"Warning\",\r\n        \"state\": \"Closed\",\r\n        \"title\": \"Infrastructure role is unhealthy\",\r\n        \"impactedResourceId\": \"/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/HealthMonitoring\",\r\n        \"impactedResourceDisplayName\": \"Health controller\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/7fa34257-3d03-4b16-849d-fc2ef107bcb6\",\r\n      \"name\": \"7fa34257-3d03-4b16-849d-fc2ef107bcb6\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths/alerts\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"closedTimestamp\": \"2018-01-19T13:38:06.1862391Z\",\r\n        \"createdTimestamp\": \"2018-01-19T13:38:06.1862391Z\",\r\n        \"description\": [\r\n          {\r\n            \"text\": \"The health controller Fault Scanner is unavailable. This may affect health reports and metrics.\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"alertId\": \"7fa34257-3d03-4b16-849d-fc2ef107bcb6\",\r\n        \"faultTypeId\": \"Microsoft.Health.FaultType.GenericExceptionFault\",\r\n        \"lastUpdatedTimestamp\": \"2018-01-19T13:38:06.1862391Z\",\r\n        \"alertProperties\": {\r\n          \"component\": \"Fault Scanner\"\r\n        },\r\n        \"remediation\": [\r\n          {\r\n            \"text\": \"Please contact Support. Before you do, start the log file collection process using the guidance from \",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"linkType\": \"Uri\",\r\n            \"uri\": \"https://aka.ms/azurestacklogfiles\",\r\n            \"type\": \"LinkBegin\"\r\n          },\r\n          {\r\n            \"text\": \"https://aka.ms/azurestacklo[...]
