{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8827b0fb-6039-47eb-a7e8-35ca9d2a7a00/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/8827b0fb-6039-47eb-a7e8-35ca9d2a7a00/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/46de1123-1db7-4577-ab11-5119da85a646\",\r\n      \"name\": \"46de1123-1db7-4577-ab11-5119da85a646\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"registrationId\": \"46de1123-1db7-4577-ab11-5119da85a646\",\r\n        \"displayName\": \"Storage\",\r\n        \"namespace\": \"Microsoft.Storage.Admin\",\r\n        \"routePrefix\": \"/subscriptions/8827b0fb-6039-47eb-a7e8-35ca9d2a7a00/resourceGroups/system.local/providers/Microsoft.Storage.Admin/farms/f8e5902d-ce7e-4856-8dd8-a1aaeba5660d\",\r\n        \"serviceLocation\": \"local\",\r\n        \"infraURI\": \"/subscriptions/8827b0fb-6039-47eb-a7e8-35ca9d2a7a00/resourceGroups/system.local/providers/Microsoft.Storage.Admin/farms/f8e5902d-ce7e-4856-8dd8-a1aaeba5660d/infraRoles/Storage\",\r\n        \"alertSummary\": {\r\n          \"criticalAlertCount\": 0,\r\n          \"warningAlertCount\": 0\r\n        },\r\n        \"healthState\": \"Healthy\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/8827b0fb-6039-47eb-a7e8-35ca9d2a7a00/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/5b37a053-c72a-4d93-8e9d-f6bca29d7fbd\",\r\n      \"name\": \"5b37a053-c72a-4d93-8e9d-f6bca29d7fbd\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\":[...]
    {
      "RequestUri": "/subscriptions/8827b0fb-6039-47eb-a7e8-35ca9d2a7a00/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/46de1123-1db7-4577-ab11-5119da85a646/resourceHealths?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv+ATOiHeiHgLn6Ohn/+q/C7QOnXSVUDnIJgXptDTmTlgARNgp3bBJunpoKXLmtFCP3wu27ouhsfHNzKspoWGN0X2+0t5q2AG8di4zPsXz+EeLVaFq55Phn2ygGdBbVzI7DEJmlIuFKIq3HPli4W3c"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14786"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "8827b0fb-6039-47eb-a7e8-35ca9d2a7a00"
  }
}