{
  "Entries": [
    {
      "RequestUri": "/subscriptions/474c6894-6289-4327-93cc-4d9aec652031/providers/Microsoft.Subscriptions.Admin/offers?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/474c6894-6289-4327-93cc-4d9aec652031/resourceGroups/rg/providers/Microsoft.Subscriptions.Admin/offers/fulloffer\",\r\n      \"name\": \"fulloffer\",\r\n      \"type\": \"Microsoft.Subscriptions.Admin/offers\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"name\": \"fulloffer\",\r\n        \"displayName\": \"FullOffer\",\r\n        \"description\": \"\",\r\n        \"externalReferenceId\": \"\",\r\n        \"state\": \"Public\",\r\n        \"subscriptionCount\": 2,\r\n        \"maxSubscriptionsPerAccount\": 0,\r\n        \"basePlanIds\": [\r\n          \"/subscriptions/474c6894-6289-4327-93cc-4d9aec652031/resourceGroups/rg/providers/Microsoft.Subscriptions.Admin/plans/fullplan\"\r\n        ],\r\n        \"addonPlans\": []\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14822"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/474c6894-6289-4327-93cc-4d9aec652031/providers/Microsoft.Subscriptions.Admin/subscriptions/f4b955c5-3a24-4daa-a0ef-e832ead97d7d?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"delegatedProviderSubscriptionId\": \"474c6894-6289-4327-93cc-4d9aec652031\",\r\n  \"displayName\": \"Test Subscription\",\r\n  \"offerId\": \"/subscriptions/474c6894-6289-4327-93cc-4d9aec652031/resourceGroups/rg/providers/Microsoft.Subscriptions.Admin/offers/fulloffer\",\r\n  \"owner\": \"tenantadmin1@msazurestack.onmicrosoft.com\",\r\n  \"state\": \"Enabled\",\r\n  \"subscriptionId\": \"f4b955c5-3a24-4daa-a0ef-e832ead97d7d\",\r\n  \"tenantId\": \"1e64bce5-9f3b-4add-8be8-e550e05014d0\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/474c6894-6289-4327-93cc-4d9aec652031/providers/Microsoft.Subscriptions.Admin/subscriptions/f4b955c5-3a24-4daa-a0ef-e832ead97d7d\",\r\n  \"subscriptionId\": \"f4b955c5-3a24-4daa-a0ef-e832ead97d7d\",\r\n  \"delegatedProviderSubscriptionId\": \"474c6894-6289-4327-93cc-4d9aec652031\",\r\n  \"displayName\": \"Test Subscription\",\r\n  \"owner\": \"tenantadmin1@msazurestack.onmicrosoft.com\",\r\n  \"tenantId\": \"1e64bce5-9f3b-4add-8be8-e550e05014d0\",\r\n  \"routingResourceManagerType\": \"Default\",\r\n  \"offerId\": \"/subscriptions/474c6894-6289-4327-93cc-4d9aec652031/resourceGroups/rg/providers/Microsoft.Subscriptions.Admin/offers/fulloffer\",\r\n  \"state\": \"Enabled\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1169"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/474c6894-6289-4327-93cc-4d9aec652031/providers/Microsoft.Subscriptions.Admin/subscriptions/f4b955c5-3a24-4daa-a0ef-e832ead97d7d?api-version=2015-11-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1168"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "474c6894-6289-4327-93cc-4d9aec652031"
  }
}